<section class="contacts section-offset">
  <div class="container">
    <h3 class="contacts__title title-h3">Контакты</h3>
    <div class="contacts__content">
      <div class="map">
        <div id="map"></div>
        <div class="contacts__panel">
          <button class="contacts__close-btn close-btn close-btn--m">
            <svg class="close-icon close-icon--m" aria-label="Телефон" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="img/sprite.svg#btn-close"></use>
            </svg>
          </button>
          <h4 class="contacts__panel-title subtitle-h4">Студия &laquo;High pass&raquo;</h4>
          <p class="contacts__panel-address desc">107045, Москва, Даев переулок, дом&nbsp;41, бизнес-центр
            &laquo;Даев
            Плаза&raquo;, этаж&nbsp;8, офис &#8470;&nbsp;82</p>
          <span class="tel tel--m" href="tel:+7 4954 24 23 532">
            <svg class="tel__icon tel__icon--m" aria-label="Телефон" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="img/sprite.svg#call"></use>
            </svg>
            +7 4954 24-23-532</span>
        </div>
      </div>
      <div class="contacts__application">
        <h4 class="contacts__application-title subtitle-h4">Оставить заявку</h4>
        <p class="desc contacts__application-desc">Оставьте ваши данные, указав в&nbsp;графе &laquo;Комментарий&raquo;
          желаемые время и&nbsp;дату съёмки или&nbsp;другого мероприятия</p>
        <form action="#" class="contacts__form js-from form" autocomplete="off">
          <label class="form__label contacts__form-label">
            <input type="text" name="name" class="input-reset form__input form__input--light name" placeholder="Имя">
          </label>
          <label class="form__label contacts__form-label">
            <input type="email" name="email" class="input-reset form__input form__input--light mail"
              placeholder="Email">
          </label>
          <label class="form__label contacts__form-label">
            <textarea class="form__input form__textarea" name="message" class="input-reset form__input mail"
              placeholder="Комментарий"></textarea>
          </label>
          <button class="contacts__form-btn btn btn-reset btn--primary">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>