<header class="header">
  <div class="header__content">
    <div class="container header__container">
      <a class="header__logo" href="#" class="logo">
        <img src="img/logo.svg" alt="Логотип High Pass">
      </a>
      <nav class="nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#" class="nav__link">О студии</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Наши проекты</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Мастер-классы</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
        </ul>
      </nav>
      <button class="header__btn btn btn-reset">
        <svg class="header__icon">
          <use xlink:href="img/sprite.svg#search"></use>
        </svg>
      </button>
      <form class="form-search flex">
        <input class="form-search__input input-reset" type="text" placeholder="Что будем искать?"
          aria-label="Поле ввода">
        <button class="close-btn form-seacrh__btn close-btn--xl">
          <svg class="form-seacrh__icon close-icon close-icon--m" aria-label="Закрыть поиск"
            xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="img/sprite.svg#btn-close"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
  <div class="header__mobile">
    <div class="container">
      <div class="header__mobile-content">
        <div class="burger">
          <span class="burger__line"></span>
        </div>
        <nav class="nav-mobile">
          <ul class="nav-mobile__list list-reset">
            <li class="nav-mobile__item"><a href="#" class="nav-mobile__link">О студии</a></li>
            <li class="nav-mobile__item"><a href="#" class="nav-mobile__link">Наши проекты</a></li>
            <li class="nav-mobile__item"><a href="#" class="nav-mobile__link">Услуги</a></li>
            <li class="nav-mobile__item"><a href="#" class="nav-mobile__link">Мастер-классы</a></li>
            <li class="nav-mobile__item"><a href="#" class="nav-mobile__link">Контакты</a></li>
          </ul>
        </nav>
      </div>
      </nav>
    </div>
  </div>
  <div class="header-menu">
    <button class="header-menu__btn close-btn close-btn--s">
      <svg class="close-icon close-icon--s" aria-label="Телефон" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="img/sprite.svg#btn-close"></use>
      </svg>
    </button>
    <nav class="nav header-menu__nav">
      <ul class="header-menu__list list-reset">
        <li class="header-menu__item"><a href="#" class="nav__link header-menu__link">О студии</a></li>
        <li class="header-menu__item"><a href="#" class="nav__link header-menu__link">Наши проекты</a></li>
        <li class="header-menu__item"><a href="#" class="nav__link header-menu__link">Услуги</a></li>
        <li class="header-menu__item"><a href="#" class="nav__link header-menu__link">Мастер-классы</a></li>
        <li class="header-menu__item"><a href="#" class="nav__link header-menu__link">Контакты</a></li>
      </ul>
    </nav>
    <span class="tel tel--s" href="tel:+7 4954 24 23 532">
      <svg class="tel__icon tel__icon--s" aria-label="Телефон" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="img/sprite.svg#call"></use>
      </svg>
      +7 4954 24-23-532</span>
  </div>
</header>