<section class="hero section-offset">
  <div class="container hero__container">
    <div class="hero__content">
      <div class="hero-tile">
        <div class="hashtag hero-tile__hashtag">#мастеркласс</div>
        <div class="hero-tile__container">
          <picture class="hero-tile__pic">
            <source srcset="img/hero-tile-320.webp" type="image/webp" media="(max-width: 320px)">
            <source srcset="img/hero-tile-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/hero-tile-768.webp" type="image/webp" media="(max-width: 768px)">
            <source srcset="img/hero-tile-1024.webp" type="image/webp" media="(max-width: 1024px)">
            <img loading="lazy" src="img/hero-tile.webp" class="hero-tile__img" alt="Работа 1">
          </picture>
          <span class="hero-tile__label">Мастер-класс от&nbsp;Игоря Робова</span>
          <h2 class="hero-tile__title">Неоновый фотосет 2.0 7&nbsp;июля&nbsp;20:00</h2>
          <button class="tile__btn btn-reset btn btn--primary">Узнать больше</button>
        </div>
      </div>
      <div class="hero__works">
        <h3 class="hero__subtitle title-h3">Работы участников предыдущего мастер-класса</h3>
        <div class="hero__collage">
          <picture class="hero__pic">
            <source srcset="img/mc-work-1-320.webp" type="image/webp" media="(max-width: 320px)">
            <source srcset="img/mc-work-1-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/mc-work-1-962.webp" type="image/webp" media="(max-width: 768px)">
            <source srcset="img/mc-work-1-1024.webp" type="image/webp" media="(max-width: 1024px)">
            <img loading=" lazy" src="img/mc-work-1.webp" class="hero__img" alt="Работа 1">
          </picture>
          <picture class="hero__pic">
            <source srcset="img/mc-work-2-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/mc-work-2-1024.webp" type="image/webp" media="(max-width: 1024px)">
            <img loading=" lazy" src="img/mc-work-2.webp" class="hero__img" alt="Работа 2">
          </picture>
          <picture class="hero__pic">
            <source srcset="img/mc-work-3-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/mc-work-3-1024.webp" type="image/webp" media="(max-width: 1024px)">
            <img loading=" lazy" src="img/mc-work-3.webp" class="hero__img" alt="Работа 3">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>