<section class="projects section-offset">
  <div class="container">
    <h3 class="projects__section-title title-h3">Наши проекты</h3>
    <div class="projects__content">
      <div class="tile">
        <picture class="tile__pic">
          <source srcset="img/projects-1-320.webp" type="image/webp" media="(max-width: 320px)">
          <source srcset="img/projects-1-576.webp" type="image/webp" media="(max-width: 576px)">
          <source srcset="img/projects-1-768.webp" type="image/webp" media="(max-width: 768px)">
          <source srcset="img/projects-1-1024.webp" type="image/webp" media="(max-width: 1024px)">
          <img class=" tile__img" src="img/projects-1.webp" alt="Фотография первого проекта">
        </picture>
        <span class="hashtag tile__hashtag">#пейзаж</span>
        <div class="tile__container">
          <p class="desc tile__desc">Синтетически, смешаны с не уникальными данными до степени…</p>
          <span class="tile__date">
            <svg class="tile__icon" aria-label="Дата" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            16 июня
          </span>
        </div>
      </div>
      <div class="tile">
        <picture class="tile__pic">
          <source srcset="img/projects-2-320.webp" type="image/webp" media="(max-width: 320px)">
          <source srcset="img/projects-2-576.webp" type="image/webp" media="(max-width: 576px)">
          <source srcset="img/projects-2-768.webp" type="image/webp" media="(max-width: 768px)">
          <source srcset="img/projects-2-1024.webp" type="image/webp" media="(max-width: 1024px)">
          <img class=" tile__img" src="img/projects-2.webp" alt="Фотография первого проекта">
        </picture>
        <span class="hashtag tile__hashtag">#портрет</span>
        <div class="tile__container">
          <p class="desc tile__desc">В своём стремлении улучшить опыт мы упускаем, что явные...</p>
          <span class="tile__date">
            <svg class="tile__icon" aria-label="Дата" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            28 мая
          </span>
        </div>
      </div>
      <div class="tile">
        <picture class="tile__pic">
          <source srcset="img/projects-3-320.webp" type="image/webp" media="(max-width: 320px)">
          <source srcset="img/projects-3-576.webp" type="image/webp" media="(max-width: 576px)">
          <source srcset="img/projects-3-768.webp" type="image/webp" media="(max-width: 768px)">
          <source srcset="img/projects-3-1024.webp" type="image/webp" media="(max-width: 1024px)">
          <img class=" tile__img" src="img/projects-3.webp" alt="Фотография первого проекта">
        </picture>
        <span class="hashtag tile__hashtag">#предмет</span>
        <div class="tile__container">
          <p class="desc tile__desc">Равным образом, высокое качество позиционных…</p>
          <span class="tile__date">
            <svg class="tile__icon" aria-label="Дата" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            14 мая
          </span>
        </div>
      </div>
      <div class="tile tile-display">
        <div class="tile-display__container">
          <picture class="tile-display__pic">
            <source srcset="img/projects-4-320.webp" type="image/webp" media="(max-width: 320px)">
            <source srcset="img/projects-4-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/projects-4-768.webp" type="image/webp" media="(max-width: 768px)">
            <source srcset="img/projects-4-1024.webp" type="image/webp" media="(max-width: 1024px)">
            <img class=" tile-display__img" src="img/projects-4.webp" alt="Фотография первого проекта">
          </picture>
          <span class="tile__date tile__date--white tile-display__text">
            <svg class="tile__icon" aria-label="Дата" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            16 июня
          </span>
          <div class="hashtag tile__hashtag">#fuji</div>
          <h3 class="title-h3 tile-display__title tile-display__text">Cемантический<br>разбор</h3>
          <p class="desc tile-display__desc tile-display__text">В рамках спецификации современных стандартов,
            интерактивные прототипы
          </p>
          <button class="btn-reset btn tile__btn btn--secondary">О проекте</button>
        </div>
      </div>
      <div class="tile tile-display">
        <div class="tile-display__container">
          <picture class="tile-display__pic">
            <source srcset="img/projects-5-320.webp" type="image/webp" media="(max-width: 320px)">
            <source srcset="img/projects-5-576.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="img/projects-5-768.webp" type="image/webp" media="(max-width: 768px)">
            <source srcset="img/projects-5-1024.webp" type="image/webp" media="(max-width: 1024px)">
            <img class=" tile-display__img" src="img/projects-5.webp" alt="Фотография первого проекта">
          </picture>
          <span class="tile__date tile__date--white tile-display__text">
            <svg class="tile__icon" aria-label="Дата" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            20 марта
          </span>
          <div class="hashtag tile__hashtag">#проектзабвение</div>
          <h3 class="title-h3 tile-display__title tile-display__text">Забвение</h3>
          <p class="desc tile-display__desc tile-display__text">Играет важную роль в формировании глубокомысленных
            рассуждений
          </p>
          <button class="btn-reset btn tile__btn btn--secondary">О проекте</button>
        </div>
      </div>
      <div class="tile">
        <picture class="tile__pic">
          <source srcset="img/projects-6-320.webp" type="image/webp" media="(max-width: 320px)">
          <source srcset="img/projects-6-576.webp" type="image/webp" media="(max-width: 576px)">
          <source srcset="img/projects-6-768.webp" type="image/webp" media="(max-width: 768px)">
          <source srcset="img/projects-6-1024.webp" type="image/webp" media="(max-width: 1024px)">
          <img class=" tile__img" src="img/projects-6.webp" alt="Фотография первого проекта">
        </picture>
        <span class="hashtag tile__hashtag">#ретушь</span>
        <div class="tile__container">
          <p class="desc tile__desc">Как принято считать, многие известные личности и по сей день остаются уделом
            либералов…</p>
          <span class="tile__date">
            <svg class="tile__icon" aria-label="Дата" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            9 марта
          </span>
        </div>
      </div>
      <div class="tile">
        <picture class="tile__pic">
          <source srcset="img/projects-7-320.webp" type="image/webp" media="(max-width: 320px)">
          <source srcset="img/projects-7-576.webp" type="image/webp" media="(max-width: 576px)">
          <source srcset="img/projects-7-768.webp" type="image/webp" media="(max-width: 768px)">
          <source srcset="img/projects-7-1024.webp" type="image/webp" media="(max-width: 1024px)">
          <img class=" tile__img" src="img/projects-7.webp" alt="Фотография первого проекта">
        </picture>
        <span class="hashtag tile__hashtag">#портрет</span>
        <div class="tile__container">
          <p class="desc tile__desc">С учётом сложившейся международной обстановки, новая модель организационной…</p>
          <span class="tile__date">
            <svg class="tile__icon" aria-label="Дата" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            1 марта
          </span>
        </div>
      </div>
    </div>
  </div>
</section>