.hashtag {
  align-self: flex-end;
  margin-bottom: auto;
  padding: 7px 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--ui-white);
  background-color: var(--ui-black);
}