:root {
  --ui-dark-orange: #bc572b;
  --ui-orange: #ce4307;
  --ui-light-orange: #ff6e30;
  --ui-x-light-orange: #ffd4c1;
  --ui-red: #ff3030;
  --ui-light-red: #f06666;
  --ui-black: #202020;
  --ui-black-85: #202020d9;
  --ui-dark-gray: #4a4a4a;
  --ui-gray: #999;
  --ui-light-gray: #cacaca;
  --ui-x-light-gray: #e9e9e9;
  --ui-white: #fff;
  --gap: 30px;
  --gap-form: 20px;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "TT Firs Neue", sans-serif;
}
